.venv
.env
.git
.github
.lock
.md
.mypy_cache
.pytest_cache
.python-version
.ruff_cache
.DS_Store
*.pyc
*.pyo
*.pyd
*.db
*.egg-info/
*.sqlite3
*.log
*.pid
build
dist
docker-compose.yml
staticfiles
node_modules
frontend/node_modules
static/dist
